<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Sniff'eirb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web app which sniff the network.">
    <meta name="author" content="RSR">

    <!-- Le styles -->
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/DataTablesStyle.css" type="text/css" />

  </head>
    <!-- Corps de la page -->
    <body class="gradient-horizontal">
	    <!-- Header -->
	    <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container-fluid">
		    <!-- Menus -->
              <a class="brand" href="#">Sniff'eirb</a>
              <div class="nav-collapse">
                <ul class="nav">
					<li class="active"><a href="#" id="startstop">Launch</a></li>
					<li><a href="#modal_parametre" data-toggle="modal">Parameters</a></li>
					<li><a href="#about">Network map</a></li>
					<li><a href="#modal_archive" data-toggle="modal">Archive</a></li>
					<li><a href="#contact">Help</a></li>
			    </ul>  
			      
			    <ul class="nav pull-right">
			      <li class="dropdown">
				      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Views<b class="caret"></b></a>
				      <ul class="dropdown-menu">
					      <li class="active"><a href="#onglet_global" data-toggle="tab">Global</a></li>
					      <li><a href="#onglet_statistiques" data-toggle="tab">Statistics</a></li>
					      <li><a href="#onglet_cookies" data-toggle="tab">Cookies</a></li>
					      <li><a href="#onglet_html" data-toggle="tab">HTML</a></li>
				      </ul>
			      </li>
			      <li><a class="navbar-form pull-right" href="/shutdown"><i class="icon-off icon-white"></i></a></li>
			    </ul>  	
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
        	<div class="row-fluid">
			
		    <!-- Contenu de droite -->
		    <div class="span12">
		
		        <!-- Onglets dans la partie de la présentation des informations collectées -->
			    <div class="tabbable" style="background: #f5f5f5; padding: 5px;">
		        	<!-- Description de chaque partie contenu correspondant aux onglets -->
				    <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
					    <!-- Contenu de l'onlet "Global"-->
					    <div class="tab-pane active" id="onglet_global" >
						
		        			<div class="scroll">	
							    <!-- Tableau des données -->
							    <table id="packetTable" class="table table-condensed table-hover">
							        <!-- En tête du tableau -->
							        <thead>
								        <tr>
								          <th>Initialisation time</th>
								          <th>Source</th>
								          <th>Destination</th>
								          <th>Protocol</th>
								          <th>Size</th>
								        </tr>
						        		<tr>
                                            <td><input type="text" name="search_time" value="" class="search_init" /></td>
			                                <td><input type="text" name="search_source" value="" class="search_init" /></td>
			                                <td><input type="text" name="search_destination" value="" class="search_init" /></td>
			                                <td><input type="text" name="search_Protocol" value="" class="search_init" /></td>
			                                <td><input type="text" name="search_size" value="" class="search_init" /></td>
    		                            </tr>
							        </thead>
							        <!-- Corps du tableau -->
							        <tbody id="packets">
					                </tbody>
					            </table>
					        </div>
					        <div class="span11" >	
							    <!-- Boutons pour exporter les données sniffées, ou pour les effacer-->
							    <button class="btn btn-primary" type="button">Export</button>
							    <button class="btn btn-primary" type="button" id="effacer">Clean</button>
					        </div>
					    </div>
					
					    <!-- Contenu de l'onglet Statistique -->
					    <div class="tab-pane" id="onglet_statistiques">
						    <p>Statistics</p>
					    </div>
					    <!-- Contenu de l'onglet Cookies -->
					    <div class="tab-pane" id="onglet_cookies">
						    <p>Cookies</p>
					    </div>
					    <!-- Contenu de l'onglet Html -->
					    <div class="tab-pane" id="onglet_html">
						    <p>Html</p>
					    </div>
				    </div>
			    </div>
		    </div>
	    </div>
	    <hr>

	    <!-- Modals : ce qui correspond aux "pop-up" qui tombe depuis le haut de la fenêtre -->
		
	    <!-- Modal : paramètre-->
	    <div class="modal hide fade" id="modal_parametre">
		    <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        			<h3>Parameters</h3>
		    </div>
		    <div class="modal-body">
				Refreshing frequency (ms):
			   <input type="number" id="frequence" min="500" max="5000" step="100" ><br>  
			</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					<button class="btn btn-primary" id="parameters" data-dismiss="modal" aria-hidden="true">Save changes</button>
				</div>
	    </div>
	    
	    <!-- Modal : archive-->
	    <div class="modal hide fade" id="modal_archive">
		    <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        			<h3>Archive</h3>
		    </div>
		    <div id ="idArchive" class="modal-body">
	    	<h4>Arleady sniffed flows :</h4>
	    	
		   </div>
		    <div class="modal-footer">
			    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			    <button class="btn btn-primary" id="loadArchive" data-dismiss="modal" aria-hidden="true">Load archive</button>
		    </div>
	    </div>



	    <!-- Footer de la page -->
	    <footer>
		    <p>&copy; Sniff'eirb 2012</p>
	    </footer>

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="bootstrap/js/jquery.js"></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="sniffeirb.js"></script>
        <script type="text/javascript" src="DataTables/media/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="DataTables/extras/ColVis/media/js/ColVis.js"></script>
        <script type="text/javascript" src="DataTables/extras/ColReorder/media/js/ColReorder.js"></script>
     <script>
		    sniff_run=$sniff_run;
		    //charger les info par défauts
		    loadArchive();
		    if(sniff_run==1)
		    {
			    $('#startstop').text("Stop");
			    startDisplayPackets();
		    }
		    else
		    {
			    displayAllPacketsOnce();
		    }
        </script>
  </body>
</html>
