
/*In order to display a scrollable table*/

.scroll {
	 height: 100%;
	 min-height: 570px; 
	 overflow: hidden;
	 overflow-y: auto;
	  }

textarea, input {
width : 140px !important;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

tr.row_selected  {
	font-weight: bold;
}

td{
font-size: 10px;
height:12px;
}
tr{
height:12px;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
background-color: #B0BED9 !important;
}

.ColVis TableTools{
	float:left !important;
}

.packetTable_length{
	float : left !important;
	padding : 2% !important;
}

.dataTables_length{
	width: 35% !important;
	float: left !important;
}

.delete{
	background-image : url("images/delete.png") ;
	background-repeat: no-repeat;
	float: right;
	width: 18px;
}

.selectDB{
	margin-top :0px;
	margin-bottom :0px;
	padding-left :15%;
	width : 80%;
}


.packetInfo{
    word-wrap: break-word;  
	width: 800px;
	max-width:900px;
} 

.miniature{
	float:right;

}
