@font-face {
  font-family: 'IM Fell DW Pica';
  font-style: italic;
  font-weight: 400;
  src: local('IM FELL DW Pica Italic'), local('IM_FELL_DW_Pica_Italic'), url(http://themes.googleusercontent.com/static/fonts/imfelldwpica/v3/alQJ8SK5aSOZVaelYoyT4PQV9SD565Vh4CeEot-NU_g.woff) format('woff');
}
@font-face {
  font-family: 'IM Fell DW Pica';
  font-style: normal;
  font-weight: 400;
  src: local('IM FELL DW Pica Roman'), local('IM_FELL_DW_Pica_Roman'), url(http://themes.googleusercontent.com/static/fonts/imfelldwpica/v3/W81bfaWiUicLSPbJhW-ATno1aYbFHkK-jWDrR3dOoIA.woff) format('woff');
}
